/* product list */
.categoryName{
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
}
.productImg{
    padding: 10px 5px;
}
.products img{
    height: 250px;
    display: block;
}
.products .col{
    width: 200px;
}
.products .productName{
    font-size: 20px;
    font-weight: bold;
}
.products .mrp{
    font-size: 10px;
    text-decoration: line-through;
}